# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/

# Django
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db